/* Contenedor de barras */
.bar-container {
  background-color: #ddd;
  border-radius: 5px;
  margin: 0.5rem 0;
  height: 30px;
  width: 100%;
  overflow: hidden;
}

.bar {
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 5px;
}

/* Colores por opción */
.bar.yes {
  background-color: #28a745; /* Verde */
}

.bar.no {
  background-color: #dc3545; /* Rojo */
}
